/* Globals */

body{
  font-size: 14px;
  font-family: 'Inconsolata', monospace;
  padding: 2px;
  margin: 2px;
  background: #121212;
}
#profile img{
  width: 130px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

:root{
  /* cell colors */
  --cellColor1: #1d3245;
  --cellColor2: #c2bcb0;
  --cellColor3: #546169;
  --cellColor4: #787878;

  /* cell globals */
  --cellPadding: 2px;
  --lightText: #efefef;
  --darkText: #1e1e1e;
}

/* Main Container */
.container{
  display: grid;
  grid-template-columns: repeat(4, 150px);
  grid-auto-rows: 150px;
  grid-gap: 2px;
  align-content: center;
  justify-content: center;
  grid-auto-flow: dense;
}
 /* Cells in different sizes */
.tallCell{
  grid-row: span 2;
}
.tallerCell{
  grid-row: span 3;
}
.wideCell{
  grid-column: span 2;
}
.bigCell{
  grid-row: span 2;
  grid-column: span 2;
}
.bigCell h2{
  text-align: center;
}
.bigCell ul{
  display: inline-block;
}
.bigCell a:link{
  text-decoration: none;
}
.bigCell a:visited{
  text-decoration: none;
}
.bigCell li{
  line-height: 1.5;
}
.bigCell img{
  border: 2px solid black;
}
#left-column{
  float: left;
  width: 45%;
  padding: 10px;
}
#right-column{
  float: right;
  width: 45%;
  padding: 10px;
}

/* individual cell classes */
.cell01{
  background: var(--cellColor1);
  padding: var(--cellPadding);
  color: var(--lightText);
}
.cell02{
  background: var(--cellColor2);
  padding: var(--cellPadding);
}
.cell03{
  background: var(--cellColor3);
  padding: var(--cellPadding);
}
.cell04{
  background: var(--cellColor4);
  padding: var(--cellPadding);
}

/* Big Cells Grids */
.cellGrids{
  display: grid;
  grid-template-columns: repeat(8,37.5px);
  grid-auto-rows: 37.5px;
  grid-gap: 4px;
  align-content: center;
  justify-content: center;
  font-family: 'Inconsolata', monospace;
}
.cellGrids header{
  grid-column: 1/9;
  grid-row: 1/2;
  align-self: center;
  justify-self: center;  
}
.cellGrids .content1{
  grid-column: 2/5;
  grid-row: 2/5;
  /* background: black; */
}
.cellGrids .content2{
  grid-column: 5/8;
  grid-row: 2/5;
  /* background: gray; */
  }
.cellGrids .content3{
  grid-column: 2/5;
  grid-row: 5/8;
  /* background: white; */
}
.cellGrids .content4{
  grid-column: 5/8;
  grid-row: 5/8;
  /* background: black; */
  }
.cellGrids img{
  width: 100%;
  height: auto;
  border: 1px solid black;
  border-radius: 10%;
}

/* special cell properties */

.cellCenterAll {
  display: grid;
  align-items: center;
  text-align: center;
}

@media(max-width: 800px) {
   .container{
    display: grid;
    grid-template-columns: repeat(3, 150px);
  }
  .tallCell{
    grid-row: span 2;
  }

  .wideCell{
    grid-column: span 2;
  }

  .bigCell{
    grid-row: span 1;
    grid-column: span 2;
  }
}

  @media(max-width: 480px) {
    .container{
     display: grid;
     grid-template-columns: repeat(2, 150px);
    }
    .tallCell{
      grid-row: span 1;
    }
  
    .wideCell{
      grid-column: span 1;
    }
  
    .bigCell{
      grid-row: span 1;
      grid-column: span 1;
    }
  }